body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar{
  width: 0;
}
code {
  
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar-parent{
  background:#2196f3 !important ;
}
.main{
  margin-top: 150px;
}
.navbar-brand{
  color : #fff!important;
  text-shadow: none;
  font-size: 2rem;
  font-weight: 700;
  direction: rtl;

}
